* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.body {
    height: 100vh;
    width: 100vw;
    background: url(/img/background.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn {
    padding: 5px 40px;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background: #666666;
    margin-top: 45px;
    border: 1px solid #131313;
    box-shadow: 0 0 20px black;
    font-family: sans-serif;
}

.start-btn:hover {
    background: #555555;
}

.main .left-side {
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(30,1fr);
    grid-template-columns: repeat(40,1fr);
    background: #809fff;
}

.main .right-side {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #131313;
}

.main .left-side div:hover {
    border: 1px solid #f3f3f3;
}

.style-tool {
    width: 80px;
    height: 80px;
    border: 3px solid #000;
    margin-top: 12px;
}

.style-tool:hover {
    border: 5px solid #757575;
}

.style-inventory {
    margin-top: 10px;
    width: 100px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    border: 2px solid #131313;
}

.tile:hover {
    border: 2px solid #fff;
}

.tile::after {
    content: attr(count);
    font-size: 18px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0;
    left: 0;
    color: inherit;
}

.restart-btn {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    background: url(/img/reset.png) no-repeat center center/cover;
    cursor: pointer;
    border: 2px solid #131313
}

.restart-btn:hover {
    border: 2px solid #fff 
}

.cloud, .cloudTile {
    background: url(/img/cloud.png) no-repeat center center/cover;
}

.grass, .grassTile {
    background: url(/img/grass.png) no-repeat center center/cover;
}

.rock, .rockTile{
    background: url(/img/rock.png) no-repeat center center/cover;
}

.soil, .soilTile{
    background: url(/img/soil.jpg) no-repeat center center/cover;
}

.leaves, .leavesTile {
    background: url(/img/tree-leaves.png) no-repeat center center/cover;
}

.wood, .woodTile {
    background: url(/img/wood.png) no-repeat center center/cover;
}

.axe {
    background: url(/img/axe.png) no-repeat center center/contain;
    background-size: 100% 100%;
    cursor: pointer;
}

.pickAxe {
    background: url(/img/pickAxe.jpg) no-repeat center center/contain;
    background-size: 100% 100%;
    cursor: pointer;
}

.shovel {
    background: url(/img/shovel.jpg) no-repeat center center/contain;
    background-size: 100% 100%;
    cursor: pointer;
}

.wind {
    background: url(/img/wind.jpg) no-repeat center center/contain;
    background-size: 100% 100%;
    cursor: pointer;
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .style-tool {
        width: 40px;
        height: 50px;
        border: 1px solid #000;
        margin-top: 5px;
    }

    .style-inventory {
        margin-top: 5px;
        height: 170px;
    }
    .tile {
        width: 25px;
        height: 25px;
        margin-top: 5px;
    }
    .tile::after {
        font-size: 12px;
    }
    .restart-btn {
        width: 25px;
        height: 25px;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 450px) {
    .style-tool {
        width: 40px;
        height: 40px;
    }
    .style-inventory {
        margin-top: 60px;
    }
    .restart-btn {
        margin-top: 200px;
    }
}