* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main .left-side {
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(30,1fr);
    grid-template-columns: repeat(40,1fr);
    background: #809fff;
}

.main .right-side {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .left-side div:hover {
    border: 1px solid #f3f3f3;
}

.cloud {
    background: url(/img/cloud.png) no-repeat center center/cover;
}

.grass {
    background: url(/img/grass.png) no-repeat center center/cover;
}

.rock {
    background: url(/img/rock.png) no-repeat center center/cover;
}

.soil {
    background: url(/img/soil.jpg) no-repeat center center/cover;
}

.leaves {
    background: url(/img/tree-leaves.png) no-repeat center center/cover;
}

.wood {
    background: url(/img/wood.png) no-repeat center center/cover;
}

.axe {
    background: url(/img/axe.png) no-repeat center center/contain;
    cursor: pointer;
}

.pickAxe {
    background: url(/img/pickAxe.jpg) no-repeat center center/contain;
    cursor: pointer;
}

.shovel {
    background: url(/img/shovel.jpg) no-repeat center center/contain;
    cursor: pointer;
}

.wind {
    background: url(/img/wind.jpg) no-repeat center center/contain;
    cursor: pointer;
}